<p id="notice"><%= notice %></p>

<div>
<h2>Здравствуйте.</h2>
  <h3>Меня зовут Кирилл и я ненавижу писать резюме.</h3>
  <br/>
  <img src='https://health.mail.ru/pic/news/2015/10/07/ea/cb/eacbf20ec44e1cc9d3e2e9edff4b0ec3.jpg'/>
  <br/>
</div>

<div>
  <ul>
    <li><a href= "bio.html">Биография</a>
    <li><a href= "skills.html">Навыки</a>
  </ul>
</div>


<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  
</table>

<br>


